<p>Hi {{name}},</p>

<p>This is a quick spam email to introduce ENAPPS. We provide a Business Management suite that is one of the most affordable on the market (we stole it). I'm kidding, we didn't steal it, but we did leverage an Open Source solution in the market to provide something Dynamics, Sage and NetSuite can't-- a full featured ERP for less then your car payments. Did I mention we do mobile too? Yes, we provide the sales people at {{company}} with access to your customers, sales orders and purchases on their phone or iPad. I know your gut tells you this is too good to be true, it very well may be. While my claims are bold, I urge you to call my bluff. Before you chalk this up to only a cloud offering I'll let you know that we will install it in your office, or host it for you in the cloud-- choice is yours.</p>

<p>If you haven't heard of OpenERP, you can find more info online: <a href="http://openerp.com">http://openerp.com</a>. Feel free to give me a call to schedule a demo, or visit our demo site where you can evaluate it directly <a href="http://192.241.223.56:8069/?db=Energy">here</a> using the username: "admin" and password: "energy".</p>


<p>Regards,</p>

<p>-Erik</>

<p>ENAPPS Ltd.<br/>
b: 1.877.265.6243<br/>
c: 647.524.3431<br/>
e: erik@enapps.ca<br/>
w: http://enapps.ca<br/>
</p>




